
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-581666675854672611.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-581666675854672611.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-581666675854672611.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-581666675854672611.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-581666675854672611.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-581666675854672611.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-581666675854672611.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-581666675854672611.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-581666675854672611.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-581666675854672611.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-581666675854672611.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-581666675854672611.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-581666675854672611.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-581666675854672611.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-581666675854672611.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-581666675854672611.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-581666675854672611.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-581666675854672611.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-581666675854672611.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-581666675854672611.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-581666675854672611.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-581666675854672611.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-581666675854672611.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-581666675854672611.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-581666675854672611.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-581666675854672611.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-581666675854672611.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-581666675854672611.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-581666675854672611.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-581666675854672611.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-581666675854672611.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-581666675854672611.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-581666675854672611.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-581666675854672611.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-581666675854672611.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-581666675854672611.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-581666675854672611.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-581666675854672611.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-581666675854672611.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-581666675854672611.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-581666675854672611.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-581666675854672611.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-581666675854672611.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-581666675854672611.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-581666675854672611.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-581666675854672611.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-581666675854672611.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-581666675854672611.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-581666675854672611.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-581666675854672611.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-581666675854672611 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-581666675854672611 .gp-relative{position:relative}.gps-581666675854672611 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-581666675854672611 .gp-mb-0{margin-bottom:0}.gps-581666675854672611 .gp-flex{display:flex}.gps-581666675854672611 .gp-grid{display:grid}.gps-581666675854672611 .\!gp-hidden{display:none!important}.gps-581666675854672611 .gp-hidden{display:none}.gps-581666675854672611 .gp-max-w-full{max-width:100%}.gps-581666675854672611 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-581666675854672611 .gp-flex-col{flex-direction:column}.gps-581666675854672611 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581666675854672611 .gp-duration-200{transition-duration:.2s}.gps-581666675854672611 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-581666675854672611 .tablet\:\!gp-hidden{display:none!important}.gps-581666675854672611 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-581666675854672611 .mobile\:\!gp-hidden{display:none!important}.gps-581666675854672611 .mobile\:gp-hidden{display:none}}.gps-581666675854672611 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzYN3NDjRy"}' data-id="gzYN3NDjRy" id="gzYN3NDjRy" data-same-height-subgrid-container class="gzYN3NDjRy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUQk2GUxbx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfmj9svTDm"}' data-id="gfmj9svTDm" id="gfmj9svTDm" data-same-height-subgrid-container class="gfmj9svTDm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gm1tqgWCyW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYCYXscL8k"
        class="gYCYXscL8k utm-headline"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYCYXscL8k_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gd53K9G-mV gp-custom-code">
      <div>
    
    </div>
    </div>
  
      <style id="custom-css-gd53K9G-mV">
        .announcement-bar-section {
    display: none;
}
      </style>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="goO9PoUMCt gp-custom-code">
      <div>
    
    </div>
    </div>
  
      <script id="custom-js-goO9PoUMCt">
        try {
          // Configuration object - easy to maintain and scale
const textConfigurations = {
    'black-friday': {
        announcer: 'BLACK FRIDAY MEGA SALE! Get 50% off everything!',
        headline: 'Limited Time: Black Friday Deals End Soon!'
    },
    'cyber-monday': {
        announcer: 'CYBER MONDAY EXCLUSIVE! Tech deals you can\'t miss!',
        headline: 'Digital Deals: Cyber Monday Special Offers'
    },
    'summer-sale': {
        announcer: 'Summer Savings Event! Beat the heat with hot deals!',
        headline: 'Summer Sale: Up to 70% Off Selected Items'
    },
    'new-customer': {
        announcer: 'Welcome! Get 20% off your first purchase!',
        headline: 'New Customer Special: Free Shipping Included'
    },
    'holiday-2024': {
        announcer: 'Holiday Special! Perfect gifts for everyone!',
        headline: 'Holiday Sale: Free Gift Wrapping Included'
    }
    // Add more configurations as needed
};

// Function to get URL parameter
function getURLParameter(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
}

// Function to update text content while preserving ALL HTML structure
function updateElementText(parentSelector, newText) {
    const parentElement = document.querySelector(parentSelector);
    
    if (!parentElement) {
        console.log(`❌ Could not find element: ${parentSelector}`);
        return false;
    }
    
    console.log(`Found element: ${parentSelector}`);
    console.log(`Original content: ${parentElement.innerHTML}`);
    
    // Get the original HTML structure
    const originalHTML = parentElement.innerHTML;
    
    // Use a simple regex to replace text content while preserving all HTML tags
    // This finds text between > and < (avoiding replacing tag names or attributes)
    const updatedHTML = originalHTML.replace(/>([^<]+)</g, (match, textContent) => {
        // Only replace if it's actual text content (not whitespace)
        if (textContent.trim()) {
            return `>${newText}<`;
        }
        return match; // Keep whitespace as-is
    });
    
    parentElement.innerHTML = updatedHTML;
    
    console.log(`✅ Updated ${parentSelector} with text: "${newText}"`);
    console.log(`New content: ${parentElement.innerHTML}`);
    return true;
}

// Function to update text content
function updateDynamicText() {
    // Get the utm_content parameter
    const utmContent = getURLParameter('utm_content');
    
    console.log('=== DEBUG INFO ===');
    console.log('utm_content:', utmContent);
    
    if (utmContent && textConfigurations[utmContent]) {
        const config = textConfigurations[utmContent];
        console.log('Using config:', config);
        
        // Update announcer (works with any child element)
        if (config.announcer) {
            updateElementText('.utm-announcer', config.announcer);
        }
        
        // Update headline (works with any child element)
        if (config.headline) {
            updateElementText('.utm-headline', config.headline);
        }
        
        console.log('=== END DEBUG ===');
    } else {
        console.log('No matching configuration found for utm_content:', utmContent);
    }
}

// Run when DOM is ready
if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', updateDynamicText);
} else {
    updateDynamicText();
}

// Also run after multiple delays to catch elements that load later
setTimeout(updateDynamicText, 500);
setTimeout(updateDynamicText, 1000);
setTimeout(updateDynamicText, 2000);

// For debugging - remove this in production
console.log('Current URL parameters:', window.location.search);
console.log('utm_content parameter:', getURLParameter('utm_content'));
        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-581666675854672611 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eko-devices-dev/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=581666583915529064&sectionId=581666675854672611)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYCYXscL8k_text","label":"ggYCYXscL8k_text","default":"UTM Heading Text"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}